.jumbotron, #quizquestions{
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
#highscore{
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
ul{
	list-style-type: none;
}