ul{
	list-style-type: none;
}
.jumbotron, #quizquestions, #card{
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
#highscore{
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
}
.nav-item {
	color: white;
}
.card-header{
	font-size: 20px;
}